
<!DOCTYPE html>
<html lang="en" ng-app="mewApp">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>Ё-кошелек</title>
<meta property="og:title" content="MyEtherWallet.com: Your Key to Ethereum">
<meta property="og:site_name" content="MyEtherWallet.com: Your Key to Ethereum">
<meta name="twitter:title" content="MyEtherWallet.com: Your Key to Ethereum">
<meta name="apple-mobile-web-app-title" content="MyEtherWallet.com: Your Key to Ethereum">
<link href="https://www.myetherwallet.com" rel="canonical">
<meta content="https://www.myetherwallet.com" property="og:url">
<meta content="https://www.myetherwallet.com" name="twitter:url">
<link rel="stylesheet" href="css/etherwallet-master.min.css">
<script type="text/javascript" src="js/etherwallet-static.min.js"></script>
<script type="text/javascript" src="js/etherwallet-master.js"></script>
<meta name="description" content="MyEtherWallet (MEW) is a free, open-source, client-side interface for generating Ethereum wallets & more. Interact with the Ethereum blockchain easily & securely.">
<meta property="og:description"  content="Free, open-source, client-side Ethereum wallet. Enabling you to interact with the blockchain easily & securely.">
<meta name="twitter:description" content="Free, open-source, client-side Ethereum wallet. Enabling you to interact with the blockchain easily & securely.">
<meta name="robots" content="index,follow">
<meta name="googlebot" content="index,follow">
<meta name="google-site-verification" content="IpChQ00NYUQuNs_7Xs6xlnSdzalOlTUYbBsr8f7OpvM" />
<link href="images/fav/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180">
<link href="images/fav/favicon-32x32.png" rel="icon" type="image/png" sizes="32x32">
<link href="images/fav/favicon-16x16.png" rel="icon" type="image/png" sizes="16x16">
<link href="images/fav/manifest.json" rel="manifest">
<link href="images/fav/safari-pinned-tab.svg" rel="mask-icon" color="#2f99b0">
<link href="images/fav/favicon.ico" rel="shortcut icon">
<meta name="apple-mobile-web-app-title" content="MyEtherWallet &middot; Your Key to Ethereum">
<meta name="application-name" content="MyEtherWallet">
<meta name="msapplication-config" content="images/fav/browserconfig.xml">
<meta name="theme-color" content="#1d6986">
<meta name="apple-mobile-web-app-status-bar-style" content="#1d6986">
<meta property="og:url" content="https://www.myetherwallet.com" />
<meta property="og:title" content="MyEtherWallet.com  &middot; Your Key to Ethereum" />
<meta property="og:type" content="website">
<meta property="og:image" content="/images/myetherwallet-logo-banner.png" />
<meta property="og:image" content="/images/myetherwallet-logo.png" />
<meta property="og:image" content="/images/myetherwallet-logo-square.png" />
<meta property="og:image" content="/images/myetherwallet-banner-fun.jpg" />
<meta name="twitter:image" content="/images/myetherwallet-logo-twitter.png">
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@MyEtherWallet">
<meta name="twitter:creator" content="@MyEtherWallet">
<script type="application/ld+json">
{
"@context": "http://schema.org",
"@type" : "Organization",
"name" : "MyEtherWallet",
"legalName" : "MyEtherWallet LLC",
"url" : "https://www.myetherwallet.com/",
"contactPoint" : [{
  "@type" : "ContactPoint",
  "email" : "support@myetherwallet.com",
  "url"   : "https://myetherwallet.com",
  "contactType" : "customer service"
}],
"logo" : "{{base_url}}images/myetherwallet-logo.png",
"description": "MyEtherWallet.com is a free, open-source, client-side interface for generating Ethereum wallets &amp; more. Interact with the Ethereum blockchain easily &amp; securely.",
"sameAs" : [
  "https://www.myetherwallet.com/",
  "https://chrome.google.com/webstore/detail/myetherwallet-cx/nlbmnnijcnlegkjjpcfjclmcfggfefdm",
  "https://www.facebook.com/MyEtherWallet/",
  "https://twitter.com/myetherwallet",
  "https://medium.com/@myetherwallet",
  "https://myetherwallet.github.io/knowledge-base/",
  "https://github.com/kvhnuke/etherwallet",
  "https://github.com/MyEtherWallet",
  "https://kvhnuke.github.io/etherwallet/","https://myetherwallet.slack.com/"
]
}
</script>
</head>
<body>

<header class="{{curNode.name}} {{curNode.service}} {{curNode.service}} nav-index-{{gService.currentTab}}" aria-label="header" ng-controller='tabsCtrl' >

<section class="bg-gradient header-branding">
  <section class="container">
    
      <a class="brand" href="/" aria-label="Go to homepage">
	Ё-кошелек
      </a>
    
    
    <div class="tagline">

    <span>3.10.7.1</span>

    <span class="dropdown dropdown-lang" ng-cloak>
      <a tabindex="0"  aria-haspopup="true" aria-expanded="false" aria-label="change language. current language {{curLang}}" class="dropdown-toggle  btn btn-white" ng-click="dropdown = !dropdown">{{curLang}}<i class="caret"></i></a>
      <ul class="dropdown-menu" ng-show="dropdown">
        <li><a ng-class="{true:'active'}[curLang=='Català']"          ng-click="changeLanguage('ca','Català'         )"> Català          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Deutsch']"         ng-click="changeLanguage('de','Deutsch'        )"> Deutsch         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Ελληνικά']"        ng-click="changeLanguage('el','Ελληνικά'       )"> Ελληνικά        </a></li>
        <li><a ng-class="{true:'active'}[curLang=='English']"         ng-click="changeLanguage('en','English'        )"> English         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Español']"         ng-click="changeLanguage('es','Español'        )"> Español         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Farsi']"           ng-click="changeLanguage('fa','Farsi'          )"> Farsi           </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Suomi']"           ng-click="changeLanguage('fi','Suomi'          )"> Suomi           </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Français']"        ng-click="changeLanguage('fr','Français'       )"> Français        </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Magyar']"          ng-click="changeLanguage('hu','Magyar'         )"> Magyar          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Haitian Creole']"  ng-click="changeLanguage('ht','Haitian Creole' )"> Haitian Creole  </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Indonesian']"      ng-click="changeLanguage('id','Indonesian'     )"> Bahasa Indonesia</a></li>
        <li><a ng-class="{true:'active'}[curLang=='Italiano']"        ng-click="changeLanguage('it','Italiano'       )"> Italiano        </a></li>
        <li><a ng-class="{true:'active'}[curLang=='日本語']"           ng-click="changeLanguage('ja','日本語'          )"> 日本語          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='한국어']"            ng-click="changeLanguage('ko','한국어'          )"> 한국어           </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Nederlands']"      ng-click="changeLanguage('nl','Nederlands'     )"> Nederlands      </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Norsk Bokmål']"    ng-click="changeLanguage('no','Norsk Bokmål'   )"> Norsk Bokmål    </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Polski']"          ng-click="changeLanguage('pl','Polski'         )"> Polski          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Português']"       ng-click="changeLanguage('pt','Português'      )"> Português       </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Русский']"         ng-click="changeLanguage('ru','Русский'        )"> Русский         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='ภาษาไทย']"         ng-click="changeLanguage('th','ภาษาไทย'        )"> ภาษาไทย         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Türkçe']"          ng-click="changeLanguage('tr','Türkçe'         )"> Türkçe          </a></li>
        <li><a ng-class="{true:'active'}[curLang=='Tiếng Việt']"      ng-click="changeLanguage('vi','Tiếng Việt'     )"> Tiếng Việt      </a></li>
        <li><a ng-class="{true:'active'}[curLang=='简体中文']"         ng-click="changeLanguage('zhcn','简体中文'      )"> 简体中文         </a></li>
        <li><a ng-class="{true:'active'}[curLang=='繁體中文']"         ng-click="changeLanguage('zhtw','繁體中文'      )"> 繁體中文         </a></li>
        <li role="separator" class="divider"></li>
        <li><a data-toggle="modal" data-target="#disclaimerModal" translate="FOOTER_4"> Disclaimer </a></li>
      </ul>
    </span>

    <span class="dropdown dropdown-gas" ng-cloak>
      <a tabindex="0" aria-haspopup="true" aria-label="adjust gas price" class="dropdown-toggle  btn btn-white" ng-click="dropdownGasPrice = !dropdownGasPrice">
        <span translate="OFFLINE_Step2_Label_3">Gas Price</span>: {{gas.value}} Gwei
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu" ng-show="dropdownGasPrice">
        <div class="header--gas">
          <span translate="OFFLINE_Step2_Label_3">Gas Price</span>: {{gas.value}} Gwei
          <input type="range" ng-model="gas.value" min="{{gas.min}}" max="{{gas.max}}" step="{{gas.step}}" ng-change="gasChanged()"/>
          <p class="small col-xs-4 text-left">Not So Fast</p>
          <p class="small col-xs-4 text-center">Fast</p>
          <p class="small col-xs-4 text-right">Fast AF</p>
          <p class="small" style="white-space:normal;font-weight:300;margin: 2rem 0 0;" translate="GAS_PRICE_Desc"></p>
          <a class="small" translate="x_ReadMore" href="https://myetherwallet.github.io/knowledge-base/gas/what-is-gas-ethereum.html" target="_blank" rel="noopener noreferrer"></a>
        </div>
      </ul>
    </span>

    <!-- Warning: The separators you see on the frontend are in styles/etherwallet-custom.less. If you add / change a node, you have to adjust these. Ping tayvano if you're not a CSS wizard -->
    <span class="dropdown dropdown-node" ng-cloak>
      <a tabindex="0" aria-haspopup="true" aria-label="change node. current node {{curNode.name}} node by {{curNode.service}}" class="dropdown-toggle  btn btn-white" ng-click="dropdownNode = !dropdownNode">
        Network: {{curNode.name}} <small>({{curNode.service}})</small>
        <i class="caret"></i>
      </a>
      <ul class="dropdown-menu" ng-show="dropdownNode">
        <li ng-repeat="(key, value) in nodeList"><a ng-class="{true:'active'}[curNode == key]" ng-click="changeNode(key)">
          {{value.name}}
          <small> ({{value.service}}) </small>
          <img ng-show="value.service=='Custom'" src="images/icon-remove.svg" class="node-remove" title="Remove Custom Node" ng-click="removeNodeFromLocal(value.name)"/>
        </a></li>
        <li><a ng-click="customNodeModal.open(); dropdownNode = !dropdownNode;"> Add Custom Node </a></li>
      </ul>
    </span>

    </div>
  </section>
</section>

<nav role="navigation" aria-label="main navigation" class="container nav-container overflowing" >
  <a aria-hidden="true" ng-show="showLeftArrow" class="nav-arrow-left" ng-click="scrollLeft(100);" ng-mouseover="scrollHoverIn(true,2);" ng-mouseleave="scrollHoverOut()">&#171;</a>
  <div class="nav-scroll">
    <ul class="nav-inner">
      
      <li ng-repeat="tab in tabNames track by $index" class="nav-item {{tab.name}}" ng-class="{active: $index==gService.currentTab}" ng-show="tab.mew" ng-click="tabClick($index)"> <a tabindex="0" aria-label="nav item: {{tab.name | translate}}" translate="{{tab.name}}"></a></li>
      
      
      <li class="nav-item help"><a href="https://myetherwallet.github.io/knowledge-base/" target="_blank" rel="noopener noreferrer">Help</a></li>
    </ul>
  </div>
  <a aria-hidden="true" ng-show="showRightArrow" class="nav-arrow-right" ng-click="scrollRight(100);" ng-mouseover="scrollHoverIn(false,2);" ng-mouseleave="scrollHoverOut()">&#187;</a>
</nav>

 <article class="modal fade" id="customNodeModal" tabindex="-1">
  <section class="modal-dialog">
    <section class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h2 class="modal-title text-info" translate="NODE_Title"> Set Up Your Custom Node </h2>

        <p class="small"><a href="https://myetherwallet.github.io/knowledge-base/networks/run-your-own-node-with-myetherwallet.html" target="_blank" rel="noopener noreferrer"> Instructions can be found here </a></p>

        <div ng-show="browserProtocol=='https:'" class="alert alert-danger small" translate="NODE_Warning">
          Your node must be HTTPS in order to connect to it via MyEtherWallet.com. You can [download the MyEtherWallet repo & run it locally](https://github.com/kvhnuke/etherwallet/releases/latest) to connect to your local node. Or, get free SSL certificate via [LetsEncrypt](https://letsencrypt.org/)</a>.
        </div>

        <section class="row">
          <div class="clearfix col-xs-12">
            <label translate="NODE_Name">Node Name</label>
            <input class="form-control"
                   type="text"
                   placeholder="My ETH Node"
                   ng-model="customNode.name"
                   ng-class="Validator.isAlphaNumericSpace(customNode.name) ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-9">
            <label>URL</label>
            <input class="form-control" type="text" placeholder="http://127.0.0.1" ng-model="customNode.url" ng-class="checkNodeUrl(customNode.url) ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-3">
            <label class="NODE_Port">Port</label>
            <input class="form-control" type="text" placeholder="8545" ng-model="customNode.port" ng-class="Validator.isPositiveNumber(customNode.port) || customNode.port=='' ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-12">
            <label><input type="checkbox" ng-model="customNode.httpBasicAuth" ng-true-value="{user:'',password:''}" ng-false-value="null" value="false"> HTTP Basic access authentication </label>
          </div>

          <div class="clearfix col-xs-6" ng-show="customNode.httpBasicAuth">
            <label>User</label>
            <input class="form-control" type="text" ng-model="customNode.httpBasicAuth.user" ng-class="customNode.httpBasicAuth &amp;&amp; customNode.httpBasicAuth.user.length > 0 ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-6" ng-show="customNode.httpBasicAuth">
            <label>Password</label>
            <input class="form-control" type="password" ng-model="customNode.httpBasicAuth.password" ng-class="customNode.httpBasicAuth &amp;&amp; customNode.httpBasicAuth.password.length > 0 ? 'is-valid' : 'is-invalid'">
          </div>

          <div class="clearfix col-xs-12 radio">
            <label><input name="options" type="radio" ng-model="customNode.options" value="eth"> ETH </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="etc"> ETC </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="rop"> Ropsten </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="kov"> Kovan </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="rin"> Rinkeby </label>
            <label><input name="options" type="radio" ng-model="customNode.options" value="cus"> Custom </label>
            <label><input type="checkbox" ng-model="customNode.eip155" value="true"> Supports EIP-155 </label>
          </div>

          <div class="clearfix col-sm-6 col-sm-offset-6" ng-show="customNode.eip155">
            <label>Chain ID</label>
            <input class="form-control" type="text" placeholder="" ng-model="customNode.chainId" ng-class="Validator.isPositiveNumber(customNode.chainId) ? 'is-valid' : 'is-invalid'">
          </div>
        </section>

      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal" translate="x_Cancel">
          Cancel
        </button>
        <button class="btn btn-primary" ng-click="saveCustomNode()" translate="NODE_CTA">
          Save &amp; Use Custom Node
        </button>
      </div>


    </section>
  </section>
</article>
 


</header>


<section class="container" style="min-height: 50%" ng-controller='viewCtrl'>

  <div class="tab-content" >

    <div class="" ng-controller="helpersCtrl">
  <h1> Convert Ethererum Units (e.g. Ether <-> Wei) </h1>
  <h2 class="p"> Ether Wei Converter </h2>
  <section class="mono">
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.wei" ng-change="convertUnit('wei')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> wei </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.kwei" ng-change="convertUnit('kwei')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> kwei </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.mwei" ng-change="convertUnit('mwei')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> mwei </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.gwei" ng-change="convertUnit('gwei')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> gwei <small>(shannon)</small> </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.szabo" ng-change="convertUnit('szabo')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> szabo </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.finney" ng-change="convertUnit('finney')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> finney </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.ether" ng-change="convertUnit('ether')" />
      <div class="input-group-btn">
        <a class="btn btn-primary" style="min-width: 170px;"> ether </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.kether" ng-change="convertUnit('kether')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> kether </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.mether" ng-change="convertUnit('mether')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> mether </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.gether" ng-change="convertUnit('gether')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> gether </a>
      </div>
    </div>
    <div class="input-group form-group">
      <input class="form-control" type="text" ng-model="units.tether" ng-change="convertUnit('tether')" />
      <div class="input-group-btn">
        <a class="btn btn-default" style="min-width: 170px;"> tether  </a>
      </div>
    </div>
  </section>

  <br /><br /><br />

  <h1> ENS Debugger & Data Grabber </h1>
  <h2 class="p">Ethereum Name Service Data String Generator</h2>
  <p class="text-danger"> This is meant to be a helpful tool for debugging and checking and generating manual reveals when necessary. Use at your own risk. There is no validation on these fields. </p>

  <section class="row">
    <div class="form-group col-sm-12">
      <label> Address you Bid From </label>
      <input class="form-control" type="text" ng-model="ensAddress" ng-change="allTheThings()" />
    </div>
  </section>

  <section class="row">
    <div class="form-group col-sm-6">
      <label> ENS Name you Bid On (no '.eth' at the end!) </label>
      <input class="form-control" type="text" ng-model="ensLabel" ng-change="toEnsLabelHash()" />
    </div>
    <div class="form-group col-sm-6">
      <label> Hashed ENS Name (Label Hash) </label>
      <input class="form-control" type="text" ng-model="ensLabelHash" />
    </div>
  </section>

  <section class="row">
    <div class="form-group col-sm-6">
      <label> Amount you Bid (ETH) </label>
      <input class="form-control" type="text" ng-model="bidEth" ng-change="toBidWei()" />
    </div>
    <div class="form-group col-sm-6">
      <label> Amount you Bid (WEI) </label>
      <input class="form-control" type="text" ng-model="bidWei" ng-change="toBidEth()" />
    </div>
  </section>

  <section class="row">
    <div class="form-group col-sm-6">
      <label> Your Secret </label>
      <input class="form-control" type="text" ng-model="ensSecret" ng-change="toEnsSecretHash()" />
    </div>
    <div class="form-group col-sm-6">
      <label> Your Secret (Hashed) </label>
      <input class="form-control" type="text" ng-model="ensSecretHash"/>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label> Start Auction Data </label>
      <input class="form-control" type="text" ng-model="startAuctionData" readonly />
      <p>
        To: <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code> &nbsp;&middot;&nbsp;
        Amount: <code>0</code> &nbsp;&middot;&nbsp;
        Gas Limit: <code>200000</code> &nbsp;&middot;&nbsp;
        Data: <code>[ABOVE]</code>
      </p>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label> New Bid Data <small> If your reveals aren't working, this is the string that needs to match your bid data on Etherscan)</small> </label>
      <input class="form-control" type="text" ng-model="shaBid" readonly />
      <p>
        To: <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code> &nbsp;&middot;&nbsp;
        Amount: <code>[A NUMBER >= BID AMOUNT]</code> &nbsp;&middot;&nbsp;
        Gas Limit: <code>500000</code> &nbsp;&middot;&nbsp;
        Data: <code>[ABOVE]</code>
      </p>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label> Reveal Data <small> This is for manually revealing if you need to do so. </small></label>
      <input class="form-control" type="text" ng-model="revealBidData" readonly />
      <p>
        To: <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code> &nbsp;&middot;&nbsp;
        Amount: <code>0</code> &nbsp;&middot;&nbsp;
        Gas Limit: <code>200000</code> &nbsp;&middot;&nbsp;
        Data: <code>[ABOVE]</code>
      </p>
    </div>
  </section>

  <section class="row">
    <div class="form-group col-xs-12">
      <label> Finalize Auction Data </label>
      <input class="form-control" type="text" ng-model="finalizeAuctionData" readonly />
      <p>
        To: <code>0x6090a6e47849629b7245dfa1ca21d94cd15878ef</code> &nbsp;&middot;&nbsp;
        Amount: <code>0</code> &nbsp;&middot;&nbsp;
        Gas Limit: <code>200000</code> &nbsp;&middot;&nbsp;
        Data: <code>[ABOVE]</code>
      </p>
    </div>
  </section>


  <br /><br /><br />

  <h1> Convert Decimal to Hexidecimal and Hex to Decimal </h1>
  <div class="form-group">
    <label> Decimal </label>
    <input class="form-control" type="text" ng-model="decimalNumber" ng-change="decimalToHex()" />
  </div>
  <div class="form-group">
    <label> Hexadecimal </label>
    <input class="form-control" type="text" ng-model="hexNumber" ng-change="hexToDecimal()" />
  </div>
  <div class="form-group">
    <label> Hexadecimal - Padded Left w/ 64 characters </label>
    <input class="form-control" type="text" ng-model="hexPaddedLeft" />
  </div>

  <br /><br /><br />

  <h1> "SHA3" (Keccak-256) It! <small><a href="https://ethereum.stackexchange.com/questions/550/which-cryptographic-hash-function-does-ethereum-use" target="_blank" rel="noopener noreferrer">yooo... sha3 !== Keccak-256?!</a></small></h1>

  <div class="form-group">
    <label> Input </label>
    <input class="form-control" type="text" ng-model="inputText" ng-change="toSHA3()" />
  </div>
  <div class="form-group">
    <label> Output </label>
    <input class="form-control" type="text" ng-model="outputText" readonly />
  </div>


  <br /><br /><br />


  <h1> Ether Unit Reference Guide </h1>
  <table class="table table-striped mono">
    <tr>
      <td><strong>wei</strong></td>
      <td><small></small></td>
      <td>1</td>
      <td>1</td>
      <td></td>
    </tr>
    <tr>
      <td><strong>kwei</strong></td>
      <td><small>ada, femtoether</small></td>
      <td>1000</td>
      <td>1,000</td>
      <td>10<sup>3</sup></td>
    </tr>
    <tr>
      <td><strong>mwei</strong></td>
      <td><small>babbage, picoether</small></td>
      <td>1000000</td>
      <td>1,000,000</td>
      <td>10<sup>6</sup></td>
    </tr>
    <tr>
      <td><strong>gwei</strong></td>
      <td><small>shannon, nanoether, nano</small></td>
      <td>1000000000</td>
      <td>1,000,000,000</td>
      <td>10<sup>9</sup></td>
    </tr>
    <tr>
      <td><strong>szabo</strong></td>
      <td><small>microether, micro</small></td>
      <td>1000000000000</td>
      <td>1,000,000,000,000</td>
      <td>10<sup>12</sup></td>
    </tr>
    <tr>
      <td><strong>finney</strong></td>
      <td><small>milliether, milli</small></td>
      <td>1000000000000000</td>
      <td>1,000,000,000,000,000</td>
      <td>10<sup>15</sup></td>
    </tr>
    <tr>
      <td><strong>ether</strong></td>
      <td><small></small></td>
      <td>1000000000000000000</td>
      <td>1,000,000,000,000,000,000</td>
      <td>10<sup>18</sup></td>
    </tr>
    <tr>
      <td><strong>kether</strong></td>
      <td><small>grand, einstein</small></td>
      <td>1000000000000000000000</td>
      <td>1,000,000,000,000,000,000,000</td>
      <td>10<sup>21</sup></td>
    </tr>
    <tr>
      <td><strong>mether</strong></td>
      <td><small></small></td>
      <td>1000000000000000000000000</td>
      <td>1,000,000,000,000,000,000,000,000</td>
      <td>10<sup>24</sup></td>
    </tr>
    <tr>
      <td><strong>gether</strong></td>
      <td><small></small></td>
      <td>1000000000000000000000000000</td>
      <td>1,000,000,000,000,000,000,000,000,000</td>
      <td>10<sup>27</sup></td>
    </tr>
    <tr>
      <td><strong>tether </strong></td>
      <td><small></small></td>
      <td>1000000000000000000000000000000</td>
      <td>1000,000,000,000,000,000,000,000,000,000</td>
      <td>10<sup>30</sup></td>
    </tr>
  </table>
  </p>
    <br /><br /><br />

  <h1> Mistyped Private Key </h1>

  <div class="form-group">
    <label> Private Key that isn't unlocking correct address</label>
    <input class="form-control" type="text" ng-model="mistypedPK"  />
  </div>
  <div class="form-group">
    <label> Address You Sent To </label>
    <input class="form-control" type="text" ng-model="mistypedAddr" />
  </div>
  <div class="form-group">
    <a class="btn btn-primary" ng-click="findMyPrivateKey()"> Start the Search! </a>
  </div>
  <div class="form-group">
    <label> Actual Private Key </label>
    <input class="form-control" type="text" ng-model="actualPK" readonly />
  </div>
  <div class="form-group">
    <ul>
      <li class="text-danger">Consider yourself very, very lucky.</li>
      <li> Now you need to create a new secure wallet and move all funds to it.</li>
      <li>In order to prevent the same thing from happening, <strong> please make sure your address you are sending to matches the address on your paper wallet</strong></li>
      <li><a href="https://myetherwallet.github.io/knowledge-base/getting-started/creating-a-new-wallet-on-myetherwallet.html" target="_blank" rel="noopener noreferrer">Read this guide for more information.</a></li>
      <li><a href="https://myetherwallet.github.io/knowledge-base/getting-started/protecting-yourself-and-your-funds.html" target="_blank" rel="noopener noreferrer">Learn how to protect yourself and your funds.</a></li>
    </ul>
  </div>

</div>



  </div>

  <div data-ng-repeat="alert in notifier.alerts">
  <div class="alert popup alert-{{alert.type}} animated-show-hide"
       style="bottom: {{85*$index}}px; z-index: {{999+$index}};">
    <div class="container">
      <div class='alert-message' ng-bind-html="alert.message"></div>
    </div>
    <i class="icon-close" ng-click="alert.close()"></i>
  </div>
</div>


</section>

<footer class="footer" role="content" aria-label="footer" ng-controller='footerCtrl' >

  <article class="block__wrap" style="max-width: 1780px; margin: auto;">

    <section class="footer--left">

      <p ng-show="showBlocks">Latest Block#: {{currentBlockNumber}} </p>

      <p> &copy; 2077 Ё-Корп</p>

    </section>

  </article>

</div>


</footer>

 <article class="modal fade" id="disclaimerModal" tabindex="-1">
  <section class="modal-dialog">
    <section class="modal-content">

      <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal">&times;</button>

        <h2 class="modal-title text-info" translate="FOOTER_4">Disclaimer</h2>

        <p class="small"><strong>Be safe &amp; secure:</strong> <a href="https://myetherwallet.github.io/knowledge-base/security/securing-your-ethereum.html" target="_blank" rel="noopener noreferrer"> We highly recommend that you read our guide on How to Prevent Loss &amp; Theft for some recommendations on how to be proactive about your security.</a></p>

        <p class="small"><strong>Always backup your keys: </strong> MyEtherWallet.com &amp; MyEtherWallet CX are not "web wallets". You do not create an account or give us your funds to hold onto. No data leaves your computer / your browser. We make it easy for you to create, save, and access your information and interact with the blockchain.</p>

        <p class="small"><strong>We are not responsible for any loss: </strong> Ethereum, MyEtherWallet.com & MyEtherWallet CX, and some of the underlying Javascript libraries we use are under active development. While we have thoroughly tested &amp; tens of thousands of wallets have been successfully created by people all over the globe, there is always the possibility something unexpected happens that causes your funds to be lost. Please do not invest more than you are willing to lose, and please be careful.</p>

        <p class="small"><strong> Translations of MyEtherWallet: </strong> The community has done an amazing job translating MyEtherWallet into a variety of languages. However, MyEtherWallet can only verify the validity and accuracy of the information provided in English and, because of this, the English version of our website is the official text. </p>

        <p class="small"><strong>MIT License</strong> Copyright &copy; 2015-2017 MyEtherWallet LLC</p>

        <p class="small">Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:</p>

        <p class="small">The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.</p>

        <p class="small"><strong>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</strong></p>
      </div>

      <div class="modal-footer">
        <button class="btn btn-default" data-dismiss="modal">Okay</button>
      </div>

    </section>
  </section>
</article>
 


</main>
</body>
</html>

